	:root {
		/* ==============================
           COULEURS MODIFIABLES
        ============================== */
		
		--couleur-primaire: #95bb41;
		--couleur-secondaire: #59663c9c;
		--couleur-tertiaire: #fff;
		--couleur-background: #3d442b;

		--couleur-bordure-sombre: #000000d4;
		--couleur-ombre-blanche: #fff;

		/* ==============================
           IMAGES MODIFIABLES
        ============================== */

		--img-quete: url("https://i.imgur.com/QH5vxV4.png");
		--img-stock: url("https://i.imgur.com/DdtZpPo.png");
		--img-loader: url("http://image.noelshack.com/fichiers/2013/50/1386602388-loader1.gif");
		--img-chat: url("https://i.imgur.com/C34adJd.png");
		--img-zone-droite: url("https://i.imgur.com/Aygz15c.png");
		--img-inventaire: url("https://i.imgur.com/FxN9Quz.png");
		--img-hologramme: url("https://i.imgur.com/P2DGHZy.png");

		/* ==============================
           EFFETS MODIFIABLES
        ============================== */

		--filtre-icones: hue-rotate(240deg);
		--filtre-fonds: brightness(15%);

		--ombre-neon: 0 0 2px 0 var(--couleur-ombre-blanche),
		0 0 10px 0 var(--couleur-primaire),
		2px 2px 5px -1px var(--couleur-primaire),
		inset 0 0 3px var(--couleur-ombre-blanche),
		inset 0 0 5px 0 var(--couleur-primaire);

		--ombre-neon-sombre: 0 0 2px 0 var(--couleur-ombre-blanche),
		0 0 10px 0 var(--couleur-background),
		2px 2px 5px -1px var(--couleur-background),
		inset 0 0 3px var(--couleur-ombre-blanche),
		inset 0 0 5px 0 var(--couleur-background);

		--police-interface: Geneva, Verdana, sans-serif;
	}

	/* ==============================
       FILTRES / RECOLORATION
    ============================== */

	#zone_travail .icon,
	#zone_logement .icon,
	#zone_chat .icon,
	#critere_selection .taille1,
	form .counter,
	form .bigValidInput,
	.stat_icone_soif,
	.stat_icone_faim,
	.stat_icone_cr,
	#zone_travail .btn svg,
	#infos_menu .book-place.selected .icon,
	#infos_menu .book-place:hover .icon,
	#zone_lightBox .lightBox .annuler,
	form div.cible .left,
	form div.sujet .left,
	#critere_selection td.selected,
	#critere_selection td:hover,
	#acc_groupe_1,
	#atelier_form .retour,
	#atelier_form .valider.link,
	#zone_rewardBox .footer .close,
	form .mediumSelectInput .right {
	    filter: var(--filtre-icones) !important;
	}

	#fondVille1,
	#fondVille2,
	#fondVille3,
	#fondVille4,
	#fondMaison1,
	#fondMaison2,
	#fondMaison3,
	#fondImmeuble1,
	#fondImmeuble2,
	#fondImmeuble3,
	#fondMort,
	#fondOI,
	#fondEntreprise,
	#fondVide,
	#fondSouterrain {
		filter: var(--filtre-fonds) !important;
	}

	/* ==============================
       IMAGES D'INTERFACE
    ============================== */

	#zone_quete {
		position: absolute;
		bottom: -13%;
		left: 2%;
		width: 100%;
		height: 18%;
		padding: 12% 0 0 49%;
		box-sizing: border-box;
		background: var(--img-quete) 0 0 / contain no-repeat;
		color: var(--couleur-primaire) !important;
		line-height: 1.4rem;
		font-size: min(1.1rem, 14px);
	}

	#modif_stocks_form {
		position: absolute;
		top: -80px;
		left: 48px;
		width: 519px;
		height: 546px;
		background: var(--img-stock) 0 0 no-repeat;
	}

	#loader {
		background-image: var(--img-loader) !important;
	}

	#zone_chat_bg {
		background: var(--img-chat) !important;
		background-size: cover !important;
	}

	#zone_droite > .grid > .grid.top {
		position: relative;
		height: 100%;
		max-height: 100%;
		display: grid;
		grid-template-columns: 48% 50%;
		grid-gap: 2%;
		background: var(--img-zone-droite) 0 0 / contain no-repeat;
	}

	#zone_gauche_inventaire {
		height: 100%;
		text-transform: uppercase;
		font: .7rem Arial, sans-serif;
		background: var(--img-inventaire) 0 0 / contain no-repeat;
	}

	.hologram img {
		content: var(--img-hologramme);
	}

	#liste_stocks .stock {
		background: url(https://i.imgur.com/Oj3vEKj.png) 0 0 no-repeat;
	}

	#atelier_form {
		background: url(https://i.imgur.com/0emEAAm.png) 0 0 no-repeat;
	}
	#zone_rewardBox .header {
		background: url(https://i.imgur.com/nNgtHYB.png) 0 0 no-repeat;
	}

	#zone_rewardBox .main {
		background: url(https://i.imgur.com/nNgtHYB.png) -870px 0 repeat-y;
	}

	#zone_rewardBox .footer {
		background: url(https://i.imgur.com/nNgtHYB.png) -435px 0 no-repeat;
	}

	/* ==============================
       COULEUR PRIMAIRE
    ============================== */

	#zone_carnet .btnTxt.selected,
	#zone_carnet .btnTxt:hover,
	#zone_carnet .infoAide:hover,
	#zone_messagerie .btnTxt.selected,
	#zone_messagerie .btnTxt:hover,
	#zone_messagerie #display_messagerie:hover,
	#zone_messagerie #display_messagerie.selected,
	#zone_carnet .infoAide:hover,
	#dc-carnet-agenda-button-v140:hover,
	#dc-carnet-agenda-button-v140.selected {
    background: var(--couleur-primaire) !important;
    color: var(--couleur-background) !important;
	box-shadow: var(--ombre-neon-sombre) !important;
	}

	#zone_fiche #txt_titre,
	#zone_fiche #statistiques .infostats .max,
	#ciseauxInventaire,
	#poubelleInventaire,
	#statsInventaire,
	#stockInventaire,
	#visiofwi_open,
	#chat_preview .chatContent,
	#zone_chat .zone_infos,
	.grid_head_travail_logement .btn.link.infoAide,
	#zone_messagerie #display_messagerie,
	#zone_carnet .btnTxt,
	#zone_messagerie .btnTxt,
	#zone_carnet .infoAide,
	#zone_chat #onglets_chat li.selected,
	#zone_chat .more,
	#chatForm .text_mode,
	#lieu_actuel .titre1,
	.quete_tab.btnTxt,
	.quete_fleche,
	.quete_aide,
	#reward_slot_montant,
	#annexe_inventaire .valeur,
	.btnTxt,
	#zone_travail .type0,
	#dc-carnet-agenda-button-v140,
	#acc_actuel .precision,
	#liste_stocks .infos_batiment .nom,
	#liste_stocks .stock table .type1, #liste_stocks_custom .stock table .type1,
	#zone_rewardBox .small .data1,
	.dataBox .aide_content h2,
	.dataBox .message .zone_conversation .conversation .ligne2 {
		color: var(--couleur-primaire) !important;
	}

	#zone_carnet .icon svg,
	#zone_messagerie .icon svg,
	#zone_fiche #barre_experience svg,
	#zone_fiche #barre_forme svg,
	#zone_fiche #barre_sante svg,
	#zone_fiche #icon_action svg,
	#zone_fiche #statistiques li svg,
	#combat_menu div svg,
	#zone_actions div svg {
		fill: var(--couleur-primaire);
	}

	#zone_fiche .barre_inv,
	#combat_menu > div.active > svg,
	#zone_actions > div.active > svg,
	#zone_dataBox .cercle_dashboard .navigation li.selected,
	#zone_dataBox .cercle_dashboard .navigation li:hover {
		background: var(--couleur-primaire);
	}

	#chatForm,
	#chatForm .text_valider,
	#chatForm .text_mode,
	#zone_chat .more,
	#ciseauxInventaire,
	#poubelleInventaire,
	#visiofwi_open,
	.inventaire_content #statsInventaire,
	#stockInventaire.selected,
	#stockInventaire,
	#combat_menu > div.active > svg,
	#zone_actions > div.active > svg,
	.quete_aide,
	.btnTxt,
	#zone_carnet .infoAide {
		border: 1px solid var(--couleur-primaire) !important;
	}

	#zone_fiche #statistiques li > .infos_desc_1,
	.dataBox .head,
	#db_group_dashboard {
		border-right: 1px solid var(--couleur-primaire);
		border-bottom: 1px solid var(--couleur-primaire);
		border-left: 1px solid var(--couleur-primaire);
	}

	.dataBox .close, .dataBox .reduce {
    background-color: var(--couleur-background) !important;
    box-shadow: 0 2rem 1rem -1rem inset var(--couleur-primaire) !important;
	}

	#zone_chat .connectes,
	#zone_chat #onglets_chat {
		border-bottom: 1px solid var(--couleur-primaire);
	}

	.case_objet,
	#zone_messagerie #display_messagerie,
	#zone_carnet .btnTxt,
	#zone_messagerie .btnTxt,
	#zone_carnet .infoAide,
	#zone_chat #onglets_chat li.selected,
	.quete_tab.btnTxt,
	.quete_aide,
	#db_group_dashboard,
	#dc-carnet-agenda-button-v140 {
		box-shadow: var(--ombre-neon) !important;
	}

	.btn_message_gradient {
    	box-shadow: none !important;
    	background: var(--couleur-primaire) !important;
    	border: 1px solid var(--couleur-primaire) !important;
	}

	#dc-carnet-agenda-panel-v140, #dc-carnet-agenda-modal-v140 .dc-agenda-modal-box, #dc-carnet-agenda-day-modal-v140 .dc-agenda-modal-box {
		background: #1c1c1c !important;
		border: 1px solid var(--couleur-primaire);
	}

	#dc-carnet-agenda-panel-v140 .dc-agenda-day,
	#dc-carnet-agenda-modal-v140 input[type="text"],
	#dc-carnet-agenda-modal-v140 input[type="date"],
	#dc-carnet-agenda-modal-v140 input[type="time"],
	#dc-carnet-agenda-modal-v140 select,
	#dc-carnet-agenda-modal-v140 textarea {
		border: 1px solid var(--couleur-primaire);
	}

	#consulter_compte:hover,
	#creer_compte:hover,
	#fermer_compte:hover {
		background: var(--couleur-primaire) !important;
		color: var(--couleur-background) !important;
	}

	.btnTxt[onclick*="changeMenu(this, '#resume_compte');"]:hover,
	.btnTxt[onclick*="changeMenu(this, '#inventaire_compte');"]:hover,
	.btnTxt[onclick*="changeMenu(this, '#credits_compte');"]:hover,
	.btnTxt[onclick*="closeDataBox('db_compte_bancaire');"]:hover {
		background: var(--couleur-primaire) !important;
		color: var(--couleur-background) !important;
	}

	.btnTxt[id*="nm_edit_description_"]:hover {
		background: var(--couleur-background) !important;
		color: var(--couleur-primaire) !important;
	}

	.grid_head_travail_logement .btn.link.infoAide.select,
	.grid_head_travail_logement .btn.link.infoAide:hover {
		background: var(--couleur-background) !important;
		color: var(--couleur-primaire) !important;
	}

	#acc_carte_content {
		background: var(--couleur-background) !important;
		box-shadow:
			15px 15px 75px inset var(--couleur-primaire),
			-15px -15px 75px inset var(--couleur-primaire) !important;
	}

	#acc_carte {
		box-shadow: none !important;
	}

	.evilBox {
		background: #04040421;
		border: 1px solid var(--couleur-primaire);
	}

	#stockInventaire.hover, #stockInventaire:hover, #stockInventaire.selected, 
	#ciseauxInventaire.hover, #ciseauxInventaire.selected, #ciseauxInventaire:hover, 
	#poubelleInventaire.hover, #poubelleInventaire:hover, #poubelleInventaire.selected,
	#statsInventaire.hover, #statsInventaire:hover, #statsInventaire.selected,
	#visiofwi_open:hover, #visiofwi_open.selected {
		background: var(--couleur-primaire) !important;
		color: var(--couleur-background) !important;
	}

	/* ==============================
       COULEUR SECONDAIRE
    ============================== */

	#zone_fiche #statistiques li > .infos_desc_1,
	#zone_fiche .barre_border .fa-caret-right,
	.grid_head_travail_logement .btn.link.infoAide,
	#zone_messagerie #display_messagerie,
	#zone_carnet .btnTxt,
	#zone_messagerie .btnTxt,
	#zone_carnet .infoAide,
	#zone_chat #onglets_chat li.selected,
	#zone_chat .more,
	#chatForm .text_mode,
	#chatForm .text_valider,
	#combat_menu div svg,
	#zone_actions div svg,
	.quete_tab.btnTxt,
	.quete_aide,
	#zone_lightBox .lightBox,
	#liste_emplois .postes,
	#zone_dataBox .cercle_dashboard .encart,
	#zone_dataBox .cercle_dashboard .nav_elts,
	#zone_dataBox .cercle_dashboard .navigation li,
	.btnTxt {
		background: var(--couleur-secondaire);
	}

	#zone_fiche #txt_credits em {
		color: var(--couleur-secondaire);
	}

	.zone_conteneurs_displayed .conteneur .conteneur_content {
		background-color: var(--couleur-secondaire);
		border-color: var(--couleur-bordure-sombre);
	}

	button.text_valider.transition3s {
    	background-color: var(--couleur-secondaire) !important;
	}

	/* ==============================
       COULEUR TERTIAIRE
    ============================== */

	#zone_fiche #statistiques ul > li,
	#zone_fiche #txt_pseudo,
	#chatForm .text_valider,
	#reward_slot_type {
		color: var(--couleur-tertiaire) !important;
	}

	span.notif-number {
		background: var(--couleur-tertiaire);
	}

	/* ==============================
       BACKGROUNDS GÉNÉRAUX
    ============================== */

	#db_group_dashboard,
	#db_wages.dataBox.focused.ui-draggable,
	#db_wages.dataBox.ui-draggable,
	.dataBox .head,
	#dc-carnet-agenda-button-v140,
	#infoBox, .infoBoxFixed {
		background: var(--couleur-background) !important;
	}

	.content:has(> form.message_nouveau) {
    background-color: var(--couleur-background) !important;
    box-shadow:
        inset 0 0 8px var(--couleur-primaire);
	}

	.inventaire_content #statsInventaire,
	.dataBox.dbtype1,
	#stockInventaire.selected {
		background: none !important;
	}

	.dataBox .message_nouveau .envoyer:hover {
    	background: var(--couleur-background) !important;
	}

	#dc-carnet-agenda-panel-v140 button,
	#dc-carnet-agenda-modal-v140 button:not(.dc-agenda-color),
	#dc-carnet-agenda-day-modal-v140 button {
    	border: 1px solid var(--couleur-primaire) !important;
    	background: var(--couleur-background) !important;
	}

	#dc-carnet-agenda-panel-v140 .dc-agenda-day:hover {
		background: rgb(255 255 255 / 11%);
	}

	.dataBox .content:has(.aide_info.article_100),
	.dataBox .content:has(.aide_info[class*="article_"]),
	.dataBox .content:has(.aide_info.aide_admin),
	.dataBox .content:has(.aide_info.aide_credits) {
    	background: var(--couleur-background) !important;
	}

	form .mediumSelectInputOptions {
			background: var(--couleur-background) !important;
	}

	#zone_rewardBox .label,
	#zone_rewardBox .competences {
		background: none;
	}

	#zone_fiche #statistiques li .infos {
		background: var(--couleur-background);
		border: 1px solid var(--couleur-primaire);
	}

	/* ==============================
       AJUSTEMENTS DIVERS
    ============================== */

	#zone_chat .more,
	.btnTxt{
		box-shadow: none;
	}

	#ciseauxInventaire,
	#poubelleInventaire {
		width: 7%;
	}

	#statsInventaire,
	#stockInventaire {
		left: 88% !important;
	}

	#zone_fiche #txt_pseudo,
	#quete_titre_texte {
		font-family: var(--police-interface);
		font-size: 1.5rem;
	}

	.dataBox .close, .dataBox .reduce,
	#db_group_dashboard,
	#db_wages.dataBox.focused.ui-draggable,
	#db_wages.dataBox.ui-draggable {
		box-shadow: 0 2rem 1rem .5rem inset var(--couleur-primaire);
	}

	.quete_aide {
		top: 15px;
		left: -90px;
		margin: 6px 0;
		padding: 2px 4px;
		font-weight: 700;
		text-align: center;
		cursor: pointer;
	}

	[data-tab="quete_missions"],
	[data-tab="quete_accomplissements"] {
		top: 7px;
		left: -25px;
	}

	#combat_menu > div:hover > svg,
	#zone_actions > div:hover > svg {
    border: 1px solid #fff !important;
    background: #E3E3E3 !important;
	}

	.dataBox .message .contenu, .dataBox .message .zone_conversation .conversation.selected, .dataBox .message .zone_conversation .conversation:hover {
		bakcground: rgb(0 0 0 / 30%);
	}

	.dataBox .message .zone_conversation .conversation .ligne1 {
		color: #fff;
	}

	.dataBox[id^="db_message_"] .content {
		background: var(--couleur-background);
		box-shadow: inset 0 0 25px 10px var(--couleur-primaire);
	}
